.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.students{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

.students-article{
	width: 300px;
}

.taxonomy-student{
	display: grid;
	gap: 10px;
	padding: 10px;
	a {
		grid-column: 1 / span 3;
		grid-row: 1;
	  }
	  img {
		grid-column: 1;
		grid-row: 2 / span 2;
	  }
	  p{
		grid-column: 2 / span 2;
		grid-row: 2 ;
	  }
}
