.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


// Students page
.students{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media(min-width: 37.5em){
.students{
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
}

.students-article{
	max-width: 300px;
}


// Taxonomy Students
.taxonomy-student{


	@media(min-width: 43.75em){
	display: grid;
	gap: 10px;
	padding: 10px;
	a {
		grid-column: 1 / span 3;
		grid-row: 1;
	  }
	  img {
		grid-column: 1;
		grid-row: 2 / span 2;
	  }
	  p{
		grid-column: 2 / span 2;
		grid-row: 2 ;
	  }
	}
}

// Single Student Page
.single-student{
	@media(min-width: 43.75em){
		display: grid;
		gap: 10px;
		padding: 10px;
		h2 {
			grid-column: 1 / span 3;
			grid-row: 1;
		  }
		  p {
			grid-column: 1;
			grid-row: 2 / span 2;
		  }
		  .wp-block-button{
			grid-column: 1;
			grid-row: 4 / span 2;
		  }
		  img{
			grid-column: 2 / span 2;
			grid-row: 2 / span 3 ;
		  }
		}
}

// Staff Page

.staff{
	h2{
		text-decoration: underline;
	}
	@media (min-width: 62.5em){
				h2{
					padding: 1rem;
					width: 100%;
				}
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
		article{
				width: 48%;
				padding: 1rem;
			}
		}
}

.students{
	a{
		color: #305C9F;
		text-decoration: none;
		&:hover, &:active{
			text-decoration: underline;
		}
	}
}

.taxonomy-student{
	a{
		h2{
			color: #305C9F;
		text-decoration: none;
		&:hover, &:active{
			text-decoration: underline;
			}
		}
	}
}

.home-blog{

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;

	h2, p{
		width: 100%;
	}
	.recent-news{
		margin: .5px 1px;
	}
	article h3{
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 1;
		width: 100%;
		margin: 0;
		padding: 1em;
		font-size: 1em;
		text-align: center;
		background-color: rgba(255, 255, 255, 0.77);;
	}
	article a{
		position: relative;
		display: block;
	}
}


.wp-block-group__inner-container{
	text-align: center;
	@media(min-width: 43.75em){
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		text-align: center;

		.wp-block-group{
			width: 48%;
			h2{
				width: 100%;
				text-align: center;
			}
		}
	}
}