.site-header{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    align-items: center;
    padding: 0 1rem;
    .site-title a{
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
        font-size: 1.5rem;
        &:visited, &:hover, &:active{
            color: #ffffff;
        }
    }
}